* {
	font-size: 17px;
	font-family: Iosevka Extended;
}

window#waybar {
	background: #08090e;
	color: #E4E8EF;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1A1C26;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #08090e;
	background: #1A1C26;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#privacy,
#disk,
#tray {
	background: #1A1C26;
}

#workspaces button {
	padding: 0 12px;
	color: #686A6F;
}
#workspaces button.focused {
	color: #E4E8EF;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #1a1a1a;
	border-color: #1a1a1a;
}

#pulseaudio {
	color: #99B5F6;
}
#memory {
	color: #F2A5C9;
}
#cpu {
	color: #E4E8EF;
}
#temperature {
	color: #F2A5C9;
	background: #1a1c26;
}
#disk {
	color: #99B5F6;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#privacy,
#disk {
	padding: 0 10px;
}
