/**
 * @name Pastel
 * @author .ciinamon
 * @description A cute (and very purple) theme for discord.
 * @version 0.1
 */

/*Mostly colors n stuff*/
:root {
--background-primary: #0F1113;
--background-secondary: #0F1113;
--background-secondary-alt: #0F1113;
--background-tertiary: #0F1113;
--channels-default: #C69BFF;
--bg-overlay-1: #0F1113;
--bg-overlay-2: #0F1113;
--text-link: #0A9BF6; 
--text-normal: #E4E8EF; 
--online-color: #FF9DE6;
--idle-color: #FFD46F;
--dnd-color: #FF6F6F;
--offline-color: #7D7D7D;
--streaming-color: #f066f0;
--round-corners: 16px;
--border-width: 8px;
}

/*Changes how selected text looks*/
::selection {
background-color: #F2A5C9;
color: #181424;
}

/*Font. Mono fonts are cute :3 */
* {
font-family: "mono" !important;
font-size: 16px !important;
}
 
/*The icon displayed when friens arent online T^T */
.image_a3747e {
background-image: url(NotFound.png) !important;
opacity: 0.5 !important;
}

/*A lot of stuff im too lazy too comment what they are T_T
 Mainly just borders */
.scroller_fea3ef {
border-right: #C69BFF88 solid 2px !important
}

section.title_a7d72e {
border: #C69BFF88 solid 2px !important;
border-radius: 16px !important;
}

ol.scrollerInner_e2e187 {
border: #C69BFF88 solid 2px !important;
}

div.container_cbd271 {
border: #C69BFF00 solid 2px !important;
border-radius: 16px !important;
}

div.scrollableContainer_d0696b {
border: #C69BFF88 solid 1px !important
}

div.container_b2ca13 {
border: #C69BFF88 solid 1px !important;
border-radius: 16px !important;
}

div.peopleColumn_c2739c {
border: #C69BFF88 solid 2px !important;
border-radius: 16px !important;
}

div.text_a3747e {
color: #ffffff00;
}
