* {
font-family: "Iosevka" !important;	
font-size: 19px !important;
}

panelview,  
.panel-arrowcontent{ 
  background: #0F1113 !important;  
  color: #C69BFF !important;
}

#searchbar{
	border-radius: 4px !important;
	border: transparent !important;
	margin-bottom: 2px !important;
	background-position: bottom !important;
	background-size: auto 2px !important;
	background-repeat: no-repeat !important;
	color: #C69BFF;
}



  #TabsToolbar {
  background-color: #0F1113 !important;
}

.tabbrowser-tab[selected="true"] {
      background-color: #0F1113 !important;
    }

.tab-content {
	color: #99B5F6 !important;
}

.tabbrowser-tab[selected="true"] .tab-content 
{
	background-color: #0F1113 !important;
	border: 1px solid #C69BFF !important;
	border-top-left-radius: 16px !important;
	border-top-right-radius: 16px !important;
	border-bottom: none !important;
  	margin-top: 4px !important;
}

.tab-background:is([selected]) {
	background: transparent !important;
}
.browser-toolbar {
	color: #C69BFF !important;
  background-color: #0F1113 !important;
}

#urlbar-input-container {
	background-color: #0F1113 !important;
	border: 1px solid #C69BFF !important;
}

#star-button.urlbar-icon {
	color: #C69BFF !important;
}

#star-button.urlbar-icon[starred="true"] {
	color: #C69BFF !important;
	fill: #C69BFF !important;
}
