@-moz-document url("about:newtab") {  
          body {
              background-color: #0F1113 !important;
          }
      }

@-moz-document url("about:home") {
	  body {
              background-color: #0F1113 !important;	
	  }
}
